/*$secondarycolor: #f7cccb; pink*/

body{
  background-color: #fdf8f2;
font-family: 'p22-mackinac-pro', serif;
font-weight: 500;
}

h1, h2, h3, h4, H5, H6{
  color: #692f17;
}

#topbar{
  background-color: #f7cccb;
}

#topbar button{
  border-radius: 5px;
  background-color:#f7cccb;
  border-color: #692f17;
  color: #692f17;
}

#topbar button:hover{
  background-color: #692f17;
  color: #f7cccb;
  border: 0;
  padding: 4px;
  padding-right: 10px;
  padding-left: 6px;
  outline:none;
  text-decoration: none;
}

ul .navbar-nav{
  color: #f7cccb;
}

.active{
  font-weight: bold;

}

.toplink{
padding-top: 10px;
}

.topfomo{
padding-top: 10px;
padding-right: 7px;
}

.toplink:hover{
  text-decoration: none;
  font-style: italic;
}

::placeholder{
  font-size: 14px;
}

input:focus{
  outline: 0;
}

.logo img{
  width: 70%;
  height: auto;
margin-left: auto;
margin-right: auto;
display: block;
margin: 0 auto;
}

.footerbackground{
  background-color: #692f17;
}

.navbar-nav .nav-item .nav-link {
    color: #fff7ee;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #f7cccb;
}

.mainimage{
  position: absolute;
  width: 100%;
}

.shopbutton{
  background-color: transparent;
  border-radius: 7px;
  border-color: #692f17;
  color: #692f17;
}

.shopbutton:hover{
  color: #fdf8f2;
  background-color: #692f17;
  border: 0;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.openingmessage {
  margin-top: 100px;
}


.openingmessage h1{
  margin-bottom: -8px;
}

.navbar-light .navbar-nav >.nav-link, .navbar-light .navbar-nav, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff7ee;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #f7cccb;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.mainlogo{
  margin-top: -25px;
}

article img{
  margin-top: 180px;
  float: left;
}

.marg{
  width: 100%;
  margin-bottom: 13px;
}

.meetowner{
  margin-top: 50px;
  font-weight: bold;
}

.instagramheader h2{
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.instagramheader h6{
  text-align: center;
}

.instagramheader1 h2{
  margin-top: 230px;
  text-align: center;
  font-weight: bold;
}

.instagramheader1 h6{
  text-align: center;
  margin-bottom: -140px;
}
