/*brown*/
/*green*/
/*pink*/
/*$secondarycolor: #f7cccb; pink*/
body {
  background-color: #fdf8f2;
  font-family: 'p22-mackinac-pro', serif;
  font-weight: 500;
}

h1, h2, h3, h4, H5, H6, p {
  color: #692f17;
}

.strike {
  text-decoration: line-through;
}

.nonstrike {
  font-style: normal;
  text-decoration: none;
}

#topbar {
  background-color: #f7cccb;
}

@media (max-width: 768px) {
  #topbar {
    display: none;
  }
}

.freeship {
  padding-bottom: -10px;
}

#topbar button {
  border-radius: 5px;
  background-color: #f7cccb;
  border-color: #692f17;
  color: #692f17;
}

#topbar button:hover {
  background-color: #692f17;
  color: #f7cccb;
  border: 0;
  padding: 4px;
  padding-right: 10px;
  padding-left: 6px;
  outline: none;
  text-decoration: none;
}

ul .navbar-nav {
  color: #f7cccb;
}

.active {
  font-weight: bold;
  text-decoration: underline wavy;
}

.toplink {
  padding-top: 10px;
}

.topfomo {
  padding-top: 10px;
  padding-right: 7px;
}

.toplink:hover {
  text-decoration: none;
  font-style: italic;
}

::placeholder {
  font-size: 14px;
}

input:focus {
  outline: 0;
}

.logo img {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto;
}

.footerbackground {
  margin-top: 40px;
  background-color: #692f17;
  border-radius: 20px;
  margin-bottom: 20px;
}

.navbar-nav .nav-item .nav-link {
  color: #fff7ee;
}

.navbar-nav .nav-item1 .nav-link {
  color: #692f17;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #f7cccb;
}

.navbar-nav .nav-item1.active .nav-link {
  color: #692f17;
}

.navbar-nav .nav-item1:hover .nav-link {
  color: #f7cccb;
}

.mainimage {
  position: absolute;
  width: 100%;
}

.shopbutton {
  background-color: transparent;
  border: 2px solid;
  border-radius: 7px;
  border-color: #692f17;
  color: #692f17;
  padding-left: 11px;
  padding-right: 11px;
}

.shopbutton1 {
  background-color: transparent;
  border: 2px solid;
  border-radius: 7px;
  border-color: #fff;
  color: #fff;
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 15px;
}

.shopbutton:hover {
  color: #fdf8f2;
  background-color: #692f17;
  border: 0;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}

.shopbutton1:hover {
  color: #692f17;
  background-color: #fff;
  border: 0;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .happy1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .happy1 {
    display: block;
  }
}

@media (min-width: 1200px) {
  .happy1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .happysmall {
    display: none;
  }
}

@media (max-width: 1200px) {
  .happylarge {
    display: none;
  }
}

@media (min-width: 1200px) {
  .happylarge {
    display: block;
  }
}

.shopbutton1 a:hover {
  color: #fdf8f2;
  background-color: #692f17;
  border: 0;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}

.newbutton {
  background-color: transparent;
  border: 2px solid;
  border-radius: 7px;
  border-color: #692f17;
  color: #692f17;
}

.readmore {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .shopsticker {
    height: 100px;
    margin-bottom: 420px;
  }
}

.newbutton:hover {
  z-index: 99;
  position: relative;
  color: #fdf8f2;
  background-color: #692f17;
}

.newbutton:focus {
  outline: none;
}

.openingmessage {
  margin-top: 120px;
}

.openingmessage h1, .openingmessage h2, .openingmessage h6 {
  color: #fff;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .openingmessage h1, .openingmessage h2, .openingmessage h6 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .openingmessage h1 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 10px;
  }
  .openingmessage h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  .openingmessage h6 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .mainshopbuttonindex {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 260px;
  }
}

@media (min-width: 768px) {
  .mainshopbuttonindex {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .mainshopbuttonindex {
    margin-bottom: 50px;
  }
}

.openingmessage h1 {
  margin-bottom: -8px;
}

.navbar-light .navbar-nav > .nav-link, .navbar-light .navbar-nav, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff7ee;
}

.dropdown-item a {
  padding-bottom: 100px;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #f7cccb;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item1 .dropdown-menu {
    display: none;
  }
  .navbar .nav-item1:hover .nav-link {
    color: #f7cccb;
  }
  .navbar .nav-item1:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item1 .dropdown-menu {
    margin-top: 0;
  }
}

article img {
  margin-top: 180px;
  float: left;
}

.marg {
  width: 100%;
  margin-bottom: 13px;
}

.topfeatured {
  border-radius: 20px;
}

.meetowner {
  margin-top: 50px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .meetowner {
    padding-top: 10px;
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .meetowner {
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .meetowner {
    padding-top: 130px;
  }
}

@media (max-width: 576px) {
  .meetparagraph {
    font-size: 13px;
  }
}

.instagramheader h2 {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.instagramheader h6 {
  text-align: center;
}

.instagramheader1 h2 {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 576px) {
  .instagramheader1 h2 {
    margin-top: 140px;
  }
}

@media (min-width: 576px) {
  .instagramheader1 h2 {
    margin-top: 210px;
  }
}

@media (min-width: 630px) {
  .instagramheader1 h2 {
    margin-top: 240px;
  }
}

@media (min-width: 768px) {
  .instagramheader1 h2 {
    margin-top: 50px;
  }
}

@media (min-width: 840px) {
  .instagramheader1 h2 {
    margin-top: 90px;
  }
}

@media (min-width: 992px) {
  .instagramheader1 h2 {
    margin-top: 230px;
  }
}

@media (min-width: 1200px) {
  .instagramheader1 h2 {
    margin-top: 170px;
  }
}

@media (min-width: 1240px) {
  .instagramheader1 h2 {
    margin-top: 240px;
  }
}

.instagramheader2 {
  margin-top: 90px;
  text-align: center;
  font-weight: bold;
}

.mainshop {
  margin-top: -160px;
}

.instagramheader1 h6 {
  text-align: center;
  margin-bottom: -140px;
}

.instagramlogo {
  width: 50%;
  height: auto;
  margin-top: 20px;
}

.footertags a {
  color: #fdf8f2;
  font-size: 13.2px;
  text-decoration: none;
  margin-bottom: -15px;
}

@media (max-width: 768px) {
  .footertags a {
    font-size: 13.1px;
  }
}

.footertags a:hover {
  color: #f7cccb;
  text-decoration: none;
}

.tagbold a {
  font-weight: bold;
  font-size: 15px;
  margin-top: 50px;
  color: #fdf8f2;
  text-decoration: none;
}

.tagbold a :hover {
  color: #f7cccb;
}

.tagbold a:hover {
  color: #f7cccb;
}

.footertags2 {
  margin-top: -200px;
  position: relative;
}

@media (min-width: 768px) {
  .footertags2 {
    margin-left: 180px;
  }
}

@media (min-width: 768px) {
  .footertags2 {
    margin-left: 180px;
  }
}

@media (min-width: 992px) {
  .footertags2 {
    margin-left: 200px;
  }
}

.contactform {
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}

.contactform h5 {
  margin-bottom: 10px;
}

.contactform label {
  color: #692f17;
  font-weight: bold;
  margin-top: 22px;
}

.contactform input, .contactform textarea {
  background-color: transparent;
  border-radius: 7px;
  border: #692f17 solid 2px;
  margin-left: auto;
  margin-right: auto;
}

.contactform .message {
  padding-left: 0;
}

.brownnav {
  color: #692f17;
}

.secondarynav {
  text-align: center;
  text-decoration: none;
  color: #e09594;
  margin-left: 13px;
}

@media (max-width: 768px) {
  .secondarynav li a {
    margin-right: -9px;
  }
}

.secondarynav a {
  text-decoration: none;
  color: #e09594;
}

.secondarynav li {
  display: inline;
  margin-right: 20px;
}

.secondarynav li :hover {
  color: #cc7776;
}

hr {
  color: #e09594;
  border: 2px solid;
  margin-top: 30px;
  margin-bottom: 6px;
}

.secondhr {
  color: #e09594;
  border: 2px solid;
  margin-top: 62px;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .secondhr {
    width: 410px;
  }
}

navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-brand img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10px;
}

@media (max-width: 576px) {
  .navbar-brand img {
    width: 50%;
    margin-top: 22px;
  }
}

@media (min-width: 576px) {
  .navbar-brand img {
    width: 38%;
    margin-top: 22px;
  }
}

@media (min-width: 768px) {
  .navbar-brand img {
    width: 23%;
    margin-top: 2px;
  }
}

@media (min-width: 992px) {
  .navbar-brand img {
    width: 20%;
  }
}

.outsideprice {
  font-weight: bold;
}

.faqtitle {
  font-weight: bold;
}

span {
  font-style: italic;
}

.mobilecart {
  position: relative;
  display: block;
}

@media (min-width: 768px) {
  .mobilecart {
    display: none;
  }
}

.goodmobilecart {
  position: relative;
  width: 70px;
  z-index: 99;
}

@media (max-width: 768px) {
  .goodmobilecart {
    display: block;
    margin-bottom: -90px;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .goodmobilecart {
    display: none !important;
  }
}

.breadcrumbs li {
  display: inline;
  color: #692f17;
  font-size: 12px;
}

.breadcrumbs li a {
  color: #692f17;
  text-decoration: none;
}

@media (max-width: 576px) {
  .breadcrumbs .prevnext {
    margin-left: 140px;
  }
}

@media (min-width: 576px) {
  .breadcrumbs .prevnext {
    margin-left: 140px;
  }
}

@media (min-width: 768px) {
  .breadcrumbs .prevnext {
    margin-left: 340px;
  }
}

@media (min-width: 992px) {
  .breadcrumbs .prevnext {
    margin-left: 580px;
  }
}

@media (min-width: 1200px) {
  .breadcrumbs .prevnext {
    margin-left: 755px;
  }
}

.dropdown-item {
  color: #692f17;
}

.pictureofme {
  border-radius: 12%;
  margin-top: 10px;
  margin-bottom: 15px;
  display: block;
}

@media (min-width: 1200px) {
  .keepup {
    padding-top: 70px;
  }
}

.navbar-toggler {
  margin-top: 32px;
}

@media (max-width: 768px) {
  .logoset {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 110px;
  }
}

@media (min-width: 768px) {
  .writtenlogo {
    float: left;
  }
}

.copyright {
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .copyright {
    font-size: 13px;
    margin-top: -30px;
  }
}

@media (min-width: 768px) {
  .copyright {
    font-size: 14px;
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  .copyright {
    font-size: 14px;
    margin-top: -30px;
  }
}

.mobiletopmessage {
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .mobiletopmessage {
    display: none;
  }
}
